# ---- region
#aws_region     = "eu-west-3"    # Paris
aws_region     = "eu-west-1"    # Ireland

# ---- CIDR network
cidr_vpc             = "192.168.0.0/16"
cidr_subnets_public  = [ "192.168.0.0/24", "192.168.10.0/24" ]
cidr_subnets_private = [ "192.168.1.0/24", "192.168.11.0/24" ]

# ---- Instances
inst_type                 = "t3a.small"   
azs                       = [ "a", "b" ]
cloud_init_script_al2     = "cloud_init/cloud_init_al2.sh"