Host demo20b-bastion
          Hostname ${bastion_public_ip}
          User ec2-user
          IdentityFile ${ssh_private_key_file}
          StrictHostKeyChecking no
%{ for instance in instances ~}
Host demo20b-linux${index(instances,instance)+1}
          Hostname ${lookup(instance,"private_ip")}
          User ${username}
          IdentityFile ${ssh_private_key_file}
          StrictHostKeyChecking no
          ProxyJump demo20b-bastion
%{ endfor ~}